language: android

android:
  components:
    - platform-tools
    - tools
    - android-27
    - build-tools-27.0.2
    - extra-android-m2repository
  licenses:
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

script:
    - ./gradlew clean
    - ./gradlew assembleRelease
    - ./gradlew uploadArchives
    - ./gradlew generateBintrayJson

jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.gradle

deploy:
  provider: bintray
  file: "bintray.json"
  user: "dsokolov"
  key: $BINTRAY_API_KEY
