<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ilich.juggler.hello">

    <application
        android:name=".HelloJugglerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".gui.activities.HelloActivity" />

        <activity android:name=".gui.activities.SlaveActivity" />

        <activity android:name=".simple.SimpleFragmentsActivity" />

        <activity android:name=".simple.CollapsingToolbarActivity" />

        <activity android:name=".gui.activities.TestActivity" />

    </application>

</manifest>
